* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 91%;
  margin-bottom: -39px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 39px; 
}
.site-footer {
}
