<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/applicationContext.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GrupoController</servlet-name>
        <servlet-class>br.edu.unifeob.hambriento.controllers.GrupoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaGrupoController</servlet-name>
        <servlet-class>br.edu.unifeob.hambriento.controllers.CategoriaGrupoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoController</servlet-name>
        <url-pattern>/GrupoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaGrupoController</servlet-name>
        <url-pattern>/CategoriaGrupoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
